
<form action=<%= shopping_index_path %> method="POST">
  <div class="form-group">
    <input type="date" id="date" name="date">
  </div>
  <div class="actions">
    <input type="submit" value="Submit">
  </div>
</form>
